services:
  rt_api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    container_name: rt_api
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
    networks:
      - rt_net

  rt_web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    container_name: rt_web
    ports:
      - "5173:80"
    environment:
      - VITE_API_URL=http://rt_api:3001
    depends_on:
      - rt_api
    networks:
      - rt_net

networks:
  rt_net:
    driver: bridge