services:
  rt_api:
    image: ghcr.io/blvckmagik/receipt-api:latest
    container_name: rt_api
    ports:
      - "3001:3001"
    env_file:
      - ./apps/api/.env
    environment:
      NODE_ENV: production
    networks:
      - rt_net

  rt_web:
    image: ghcr.io/blvckmagik/receipt-web:latest
    container_name: rt_web
    ports:
      - "5173:80"
    environment:
      VITE_API_URL: http://rt_api:3001
    env_file:
      - ./apps/web/.env
    depends_on:
      - rt_api
    networks:
      - rt_net

networks:
  rt_net:
    driver: bridge