name: Build & Deploy Docker Images

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up QEMU (multi-arch)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_PAT }} # або GHCR_PAT якщо так назвав

      - name: Build & push API image
        uses: docker/build-push-action@v6
        with:
          context: ./apps/api
          file: ./apps/api/Dockerfile
          platforms: linux/arm64
          push: true
          tags: ghcr.io/${{ secrets.GHCR_USERNAME }}/receipt-api:latest

      - name: Build & push WEB image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./apps/web/Dockerfile
          platforms: linux/arm64
          push: true
          tags: ghcr.io/${{ secrets.GHCR_USERNAME }}/receipt-web:latest
